@charset "UTF-8";
@font-face {
    font-family: 'mlsFont';
    src: url("../fonts/bubblegum-sans-regular.otf");
}

body {
	background: -webkit-gradient(linear, left top, right top, from(#1c82e4), to(#d2eaff));
	height: 70%;
}

header {
	font-family: 'mlsFont';
    color:  purple;
    width: 50%;
    margin: auto;
    padding-top: 43px;
}

h1 {
    text-align: center;
}

section {
    background-color: pink;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
    padding: 25px;
    width: 50%;
    margin: auto;
}
.conteudo{
    padding-left: 20px;
}
.gerar {
    margin-left: 60px;
}
#numText {
	width: 60%;
    margin: 10px auto;	
}

#gerarTab {		
	width: 62%;
    margin-left: 60px;

}

#seltab {
	width: 60%;
    margin: 10px auto;	
} 

footer {
    font-family: 'mlsFont';
    color: #000;
    text-align: center;
    font: italic;
}

@media (max-width:1100px) {
  section .content-footer .middle{
    padding-left: 50px;
    width: 60%;
    margin: auto;    
  }
}
@media (max-width:950px){
  section {
    width: 60%;
    margin: auto;
  }
}
@media (max-width:760px){
  section {
    width: 60%;
    margin: auto;
  }
}
@media (min-width:560px){
  section {
    width: 60%;
    margin-top: 30px;
    padding-left: 0;
  }
}

